extends layout

block content
	header.search-form
		form(action='/', method='POST')
			p
				input.search-box(type='text', name='search', value=term)
				button(type='submit') Cold Check It
		
	section.search-results
		- if (topics.length)
			- each topic in topics
				h2.topic
					a(href='http://www.electricalaudio.com/phpBB3/viewtopic.php?f=6&view=viewpoll&t=#{topic.topicid}')= topic.title
				- if (topic.hasOwnProperty("subject"))
					p.subject= topic.subject
				ul.polls
					- each poll in topic.polls
						li
							- if (poll.leading)
								.label(title=poll.label) <strong style="width:#{poll.percentWidth}%" class="is-leading">#{poll.label}</strong>
							- else
								.label(title=poll.label) <strong style="width:#{poll.percentWidth}%">#{poll.label}</strong>
							.votes #{poll.votes} votes
		- else
			p.no-results No waffles about it, your search was <strong>crap</strong>. Try again.
