extends layout

block content
	header.search-form
		form(action='/', method='POST')
			p
				input.search-box(type='text', name='search', value=term)
				button(type='submit') Cold Check It
		
	section.search-results
		- if (topics.length)
			- if (pagination.length > 1)
				div.pagination-top
					- each page in pagination
						- if (page.url)
							a(href="#{page.url}")= page.label
						- else if (page.selected)
							strong= page.label
						- else
							span= page.label
			- each topic in topics
				h2.topic
					a(href='http://premierrockforum.com/viewtopic.php?f=6&t=#{topic.topicid}')= topic.title
				- if (topic.hasOwnProperty("subject"))
					p.subject= topic.subject
				ul.polls
					- each poll in topic.polls
						li
							.label(title=poll.label)
								- if (poll.leading)
									strong.is-leading(style="width:#{poll.percentWidth}%")= poll.label
								- else
									strong(style="width:#{poll.percentWidth}%")= poll.label
							.votes #{poll.votes} votes
			- if (pagination.length > 1)
				div.pagination-bottom
					- each page in pagination
						- if (page.url)
							a(href="#{page.url}")= page.label
						- else if (page.selected)
							strong= page.label
						- else
							span= page.label
		- else
			p.no-results No waffles about it, your search was <strong>crap</strong>. Try again.
